<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" href="/styles/bootstrap.min.css">
      <script src="/js/vendors/jquery-1.11.3.min.js"></script>
      <script src="/js/vendors/bootstrap.min.js"></script>
      <style type="text/css">
          
          body {
            display: flex;
            flex-direction: column;
            margin: 0px;
          }

          h2 {
            margin-top: 15px;
            text-align:center;
            color:#29A6CF;
          }

          .fortd {
            text-align: center;
            width: 160px;
            color:#FFFFFF;
          }

          .fortr {
            padding-bottom:5px;
            height:35px;
          }
          

          .heading {
            height: 60px;
            width: 100%;
            -moz-box-shadow: 0 0 30px 5px #999;
            -webkit-box-shadow: 0 0 30px 5px #999;
            background-color: white;
          }

          .logout {
            float:right;
            margin-right:20px;
          }
          .junior-info {
            margin-top:60px;
            margin-left:400px;
          }

          .junior_name {
            padding-top:85px;
            float:left;
            margin-left:30px;
            color:#29A6CF;
            font-size:60px;
            margin-right: 10px;
          }
          .rank {
            margin-top:88px;
            color:#FFFFFF;
          }

          .tablediv {
            display:block;
            margin-top:60px;
            margin-left:400px;
          }

          .table-content {
            width:530px;
            border-color:#FFFFFF;
          }

        </style>
    </head>
    <body background="/images/login.jpg" >

        <div class ="heading">
          <h2>Junior's Portal <button id = "logout_button" class = "btn btn-primary logout">Logout </button></h2>
        </div>

        <div class = "junior-info">
              <img src = "/images/empty-profile.png" style="float:left;">
              <div class = "junior_name" id = "junior_name" ><%= req.session.username %> </div>
              <br>
              <br>
              <div class = "rank">( <%= req.session.rank %> )</div>
        </div><br>

        <div id = "for_junior" class = "tablediv" >
            <table border="3" cellpadding="55" cellspacing="55" class = "table-content">
                <tr class = "fortr">
                    <th class = "fortd">Senior Name</th>
                    <th class = "fortd">Task Id</th>
                    <th class = "fortd">Rating</th>
                    <th class = "fortd">Manager</th>
                    <th class = "fortd">Promotion</th>
                </tr>
                <% for(var i=0; i<data1.length; i++) { %>
                    <tr class = "fortr">
                        <td class = "fortd" ><%= data2[i].senior_name %></td>
                        <td class = "fortd" ><%= data2[i].task_id %></td>
                        <td class = "fortd" ><%= data2[i].rating %></td>
                        <td class = "fortd" ><%= data1[i].manager_name %></td>
                        <td class = "fortd" ><%= data1[i].promotion %></td>
                    </tr>
                <% } %>
            </table>
        </div>
    </body>
</html>
<script type="text/javascript">
    $('#logout_button').click(function() {

    	$.ajax({
        url: '/login/logout',
        method: 'POST',

        success: function(msg) {
            window.location.href = "/login";
        },
        failure: function(msg) {
            alert("Fail : " + msg);
        },
        error: function(xhr, status, text) {
            alert('error');
            /*var response = jQuery.parseJSON(xhr, responseText);
            alert(response.error);*/
        }
    	});  
    });
</script>