<!DOCTYPE html>
<html>
<head>


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="/styles/bootstrap.min.css">

<!-- jQuery library -->
<script src="/js/vendors/jquery-1.11.3.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="/js/vendors/bootstrap.min.js"></script>

<style>
body{
	background-color: green;
}
</style>
</head>
<body>

<h1 style = "text-align:center">Profile</h1>
<br>


<div style = "display:block;margin-top:60px;margin-left:450px;">
<img src = "http://www.sunshineedu.in/wp-content/uploads/empty-profile.png" style="float:right;margin-right:330px;">
<p style = "padding-top:30px;"><b>Name</b> : <span id = "senior_name" ><%= req.session.username %> </p>
<p style = "padding-top:20px;"><b>Rank</b> : <%= req.session.rank %> </p>
</div>
<br>
<button id = "logout_button" class = "btn btn-primary" style = "margin-left:450px">Logout </button>

<div id = "for_senior" style = "display:block;margin-top:60px;margin-left:450px;" >


<table border="3" cellpadding="55" cellspacing="55">
<tr style = "padding-bottom:5px">
<th>Junior Name</th>
<th>Task Id</th>
<th>Rating</th>
</tr>
<% for(var i=0; i<data.length; i++) { %>
<tr>
<td id = "junior_name<%= (i+1) %>" ><%= data[i].junior_name %></td>
<td id = "task_id<%= (i+1) %>" ><%= data[i].task_id %></td>
<td id = "rating<%= (i+1) %>" ><%= data[i].rating %></td>
<td > <button id = "edit<%= (i+1) %>" class = "edit btn btn-primary">edit</button>
</tr>
<% } %>
</table>
<br>
<div id ="success_message" style = "color:blue;display:none"> The entry has been changed </div>

</div>

</body>
</html>
<script type="text/javascript">

$('#logout_button').click(function() {


  $.ajax({
    url: '/login/logout',
    method: 'POST',

    // Tell the server we're sending JSON--not strictly necessary with Sails,
    // but recommended.
    contentType: 'application/json', 

    // Don't URLencode data
    processData: false,

    // Stringify the data--otherwise it will send "[object object]"

    success: function(msg) {
        window.location.href = "/login";
    },
    failure: function(msg) {
        alert("Fail : " + msg);
    },
    error: function(xhr, status, text) {
        alert(text);
        var response = jQuery.parseJSON(xhr, responseText);
        alert(response.error);
    }
});  


});

$(".edit").click(function(){

  var eleId = this.id;
  var id = (this.id).substr(4);
  var element = "task_id"+id;
  var element2 = "rating"+id;

  if(this.innerHTML == 'edit') {
    document.getElementById(element).contentEditable = true;
    document.getElementById(element2).contentEditable = true;
    document.getElementById(element).focus();
    document.getElementById(element).style.color = "#FFFFFF";
    document.getElementById(element2).style.color = "#FFFFFF";
    this.innerHTML = "save";
  }
  else if(this.innerHTML == 'save') {
    var task_id = document.getElementById(element).innerHTML;
    var rating = document.getElementById(element2).innerHTML;
    var junior_name = document.getElementById('junior_name'+id).innerHTML;
    var senior_name = document.getElementById('senior_name').innerHTML;
  
    var param={
                'junior_name':junior_name,
                'task_id':task_id,
                'rating':rating,
                'senior_name':senior_name
              }
    var requestUrl='/login/updatesenior';

      $.ajax({
        type: 'post',
        url: requestUrl,
        data: param,
        dataType:'text',
        success: function(msg){         
          document.getElementById(eleId).innerHTML = "edit";
          document.getElementById(element).contentEditable = false;
          document.getElementById(element2).contentEditable = false;
          document.getElementById(element).style.color = "#333333";
          document.getElementById(element2).style.color = "#333333";
          $('#success_message').show();
          setTimeout(function() {
              $('#success_message').fadeOut('slow');
          }, 3000);

        },
        error: function(jqXHR, textStatus, errorThrown){
          alert("error");
        },
        complete: function(msg){
                          
        }
      });
  }
})
</script>