<!DOCTYPE html>
<html>
<head>


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="/styles/bootstrap.min.css">

<!-- jQuery library -->
<script src="/js/vendors/jquery-1.11.3.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="/js/vendors/bootstrap.min.js"></script>

<style>
body{
	background-color: green;
}
</style>
</head>
<body>

<h1 style = "text-align:center">Profile</h1>
<br>


<div style = "display:block;margin-top:60px;margin-left:450px;">
<img src = "http://www.sunshineedu.in/wp-content/uploads/empty-profile.png" style="float:right;margin-right:330px;">
<p style = "padding-top:30px;"><b>Name</b> : <%= req.session.username %> </p>
<p style = "padding-top:20px;"><b>Rank</b> : <%= req.session.rank %> </p>
</div>
<br>
<button id = "logout_button" class = "btn btn-primary" style = "margin-left:450px">Logout </button>
<div id = "for_senior" style = "display:block;margin-top:60px;margin-left:450px;" >


<table border="3" cellpadding="55" cellspacing="55">
<tr style = "padding-bottom:5px">
<th>Senior Name</th>
<th>Task Id</th>
<th>Rating</th>
<th>Manager</th>
<th>Promotion</th>
</tr>
<% for(var i=0; i<data1.length; i++) { %>
<tr>
<td><%= data2[i].senior_name %></td>
<td><%= data2[i].task_id %></td>
<td><%= data2[i].rating %></td>
<td><%= data1[i].manager_name %></td>
<td><%= data1[i].promotion %></td>
</tr>
<% } %>
</table>

</div>

</body>
</html>
<script type="text/javascript">

$('#logout_button').click(function() {

	$.ajax({
    url: '/login/logout',
    method: 'POST',

    success: function(msg) {
        window.location.href = "/login";
    },
    failure: function(msg) {
        alert("Fail : " + msg);
    },
    error: function(xhr, status, text) {
        alert('error');
        /*var response = jQuery.parseJSON(xhr, responseText);
        alert(response.error);*/
    }
	});  


});
</script>